@import './../../Styles/mixins';
@import './../../Styles/variables';

@font-face {
    font-family: 'semi bold';
    src: url('../../Assets/Fonts/JosefinSans-SemiBold.ttf');
}

.login-outer-container {
    @include flexType(row, stretch, space-between);
    @include loginOuterContainerLayout(grid, auto, 2px, black);

    .left-container {
        @include loginLeftContainer(1, 1, 2, 2, grid, $primary-red);

        .left-inner {
            @include loginLeftInnerContainer(3, 2, 2, 4, 25px, $primary-brown, grid);

           
        }
    }

    .right-container {
        
        @include loginRightContainer(3, 3, 1, 2, grid, $primary-black, 100%);
        .logo-container {
            @include logoContainer(1, 2, 1, 1, "./../../Assets/Images/husky.png", 210px, no-repeat, center);
            animation: logo-bounce 1s infinite alternate;
        }
        .right-inner {
            
            @include loginRightInnerContainer(1, 3, 2, 4, 25px, $primary-brown, center);

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);

           
            form {
                grid-column: 1 / span 2;
                grid-row: 2 / span 4;
                margin-right: 0;
                color: white;
                background-color: black;
                margin-top: -7rem;
                margin-left: 30%; /* Adjust the margin for the form towards the right */
                h1, h4, p {
                    color: white;
                    font-family: 'semi bold';
                }

                a {
                    color: white;
                    text-decoration: underline;
                    font-family: 'semi bold';
                }

                .username-container {
                    padding: 20px;

                    label {
                        color: white;
                        padding-right: 20px;
                        font-family: 'semi bold';
                        font-size: 20px;
                    }

                    input {
                        @include styleInput(50px, 250px, 10px, $primary-beige-opacity, 2px, solid, white);
                        font-family: 'semi bold';
                        font-size: 20px;
                        color: $primary-brown;
                        outline: none;
                    }
                }
                
                
                
                .password-container {
                    @extend .username-container;
                }

                .button-container {
                    margin: 5px;

                    button {
                        @include styleButton($primary-red, $primary-beige, 50px, 350px, 10px);
                        border-color: $primary-red;
                        cursor: pointer;
                        font-family: 'semi bold';
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@keyframes logo-bounce {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(-20px);
    }
}

