$primary-brown: #630303;
$primary-beige: #ffffff;
$primary-red : #ff0800;
$primary-brown-opacity: rgba(66,36,12,20%);
$primary-beige-opacity: rgba(255, 255, 255, 0.4);
$primary-pink: rgba(253, 186, 154, 65%);
$white: #ffff;
$primary-black: #000000;
$primary-beige-light: #fcfcfc;
$primary-brown-2: #42210D;
$primary-red-shadow : rgba(204, 61, 56, 50%);
$text-red: #ff0800;

