@import './../../Styles/mixins';
@import './../../Styles/variables';
@font-face {
    font-family: 'semi bold';
    src: url('../../Assets/Fonts/JosefinSans-SemiBold.ttf')
}

.signUp-outer-container{

    @include loginOuterContainerLayout(grid, auto, 2px, black);
   
    .left-container{

        @include loginLeftContainer(1,1,2,2,grid,$primary-red);

        .left-inner{

            @include loginLeftInnerContainer(3, 2, 2, 4, 25px, $primary-brown, grid);

          
        }
    }

    .right-container{

        @include loginRightContainer(3, 3, 1, 2, grid, $primary-beige-opacity, 100%);

        .right-inner{

            @include loginRightInnerContainer(1, 3, 1, 2,25px,$primary-brown, left);

            display: grid;
            grid-template-columns:  repeat(2, 1fr);;
            grid-template-rows: repeat(12, 1fr);;
            form{
                grid-column: 1 / span 2;
                grid-row: 1 / span 5; 
                background-color: black;
                margin-right: 0;
                color: white;
                width: max-content;
                margin-left: 15%;
                h1{
                    text-align: center;
                    color: white;
                }
                p{
                    color: $primary-red;
                }
                .form-input::placeholder {
                    color: gray; /* Set the placeholder color to gray */
                  }
                .roleSelectionContainer {
                    @extend .userName_email_Container;
                    padding-top: 15px;
                    padding-left: 30px;
                    label {
                        color: $primary-red;
                        font-family: 'semi bold';
                    }
                    padding-top: 15px;
                    padding-left: 30px;
            
                    .MuiFormControlLabel-root {
                        margin-right: 20px;
                        padding-top: 15px;
                    padding-left: 30px;
                    }
                }
            
                .secretKeyContainer {
                    @extend .userName_Container; 
                    grid-column: 1 ;
                    grid-row : 1;
                    //justify-self: center;
                    padding-left: 40px;
                    label {
                        display: inline-block;
                        font-size: 0.8rem;
                        margin-bottom: 6px;
                        color: white;
                        font-family: 'semi bold';
                    }
                    input {
                        display: block;
                        padding-left: 10px;
                        outline: none;
                        border-radius: 2px;
                        height: 25px;
                        width: 100%;
                        border: 2px solid white;
                        background-color: white;
                        font-family: 'semi bold';
                        color: white;
                        font-size: medium;
                    }
                }
            
                .userName_email_Container{
                    display: grid;
                    padding : 5px;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr ;
                }
                
                .userName_Container {
                    grid-column: 1 ;
                    grid-row : 1;
                    margin-bottom: 0.5rem;
                    width: 80%;
                    justify-self: center;
                    label{
                        display: inline-block;
                        font-size: 0.8rem;
                        margin-bottom: 6px;
                        color: white;
                        font-family: 'semi bold';
                        font-size: medium;
                    }
                    input{
                        display: block;
                        padding-left: 10px;
                        outline: none;
                        border-radius: 2px;
                        height: 25px;
                        width: 100%;
                        border: 2px solid white;
                        background-color: white;
                        font-family: 'semi bold';
                        color: black;
                        font-size: medium;
                    }
                  }
                
                  .email_Container{
                    @extend .userName_Container;
                    grid-column: 2 ;
                }
                
                .frst_lst_names_container{
                    @extend .userName_email_Container;
                }
                
                .frst_name_container{
                    @extend .userName_Container;
                }
                
                .lst_name_container{
                    @extend .email_Container;
                }
                
//                 .dob_gender_container {
//   @extend .userName_email_Container;
//   color: white; 
// }
// .dob_container {
//     @extend .userName_Container;
//     div {
//       border: white;
//       background-color: black;
  
//       .MuiPickersDay-day,
//       .MuiPickersDay-daySelected,
//       .MuiPickersDay-dayDisabled {
//         background-color: black ;
//         color: black !important; /* Set day text color to black */
  
//         &.MuiPickersDay-daySelected {
//           background-color: black !important; /* Set the background color for the selected date to black */
//           color: black !important; /* Set the text color for the selected date to white */
//         }
//       }
//     }
//   }
                .dob_gender_container{
                    @extend .userName_email_Container;
                    color: red;
                }

                .dob_container{
                    @extend .userName_Container; 
                    div{
                        border: $primary-red;
                        color: black;
                        background-color: lightcoral;

                    }
                }
                .MuiInputBase-input.MuiInput-input {
                    color: white;
                  }
                .radioButtonsContainer{
                    color: white;

                    label{
                        color: white;
                        font-family: 'semi bold';
                    }
                    padding-top: 35px;
                    padding-left: 30px;
                }
                .passwordContainer{
                    @extend .userName_email_Container;
                }
                .passcode{
                    @extend .userName_Container; 
                }
                
                .questionAnswerContainer{
                    display: grid;
                    padding : 5px;
                    grid-template-columns: 1fr ;
                    grid-template-rows: 1fr 0.5fr;
                }
                
                .questionContainer{
                    grid-column: 1 ;
                    grid-row : 1;
                    //justify-self: center;
                    padding-left: 30px;
                    label{
                        display: inline-block;
                        font-size: 0.8rem;
                        margin-bottom: 6px;
                        color: white;
                        font-family: 'semi bold';
                        font-size: medium;
                    }
                    input{
                        display: block;
                        padding-left: 10px;
                        outline: none;
                        border-radius: 2px;
                        height: 25px;
                        width: 550px;
                        border: 2px solid white;
                        color: black;
                        font-family: 'semi bold';
                        background-color: white;
                    }
                    div{
                        color: $primary-red;
                    }
                }
                
                .answerContainer{
                    grid-column: 1 ;
                    grid-row : 2;
                    //justify-self: center;
                    padding-left: 50px;
                    font-family: 'semi bold';
                    font-size: medium;

                    label{
                        display: inline-block;
                        font-size: 0.8rem;
                        margin-bottom: 6px;
                        color: white;
                        
                    }
                    input{
                        display: block;
                        padding-left: 10px;
                        outline: none;
                        border-radius: 2px;
                        height: 25px;
                        width: 570px;
                        border: none;
                        border: 2px solid white;
                        font-family: 'semi bold';
                        font-size: medium;
                        color: black;
                    }
                    
                }
                
                .SignUp-Container{
                    @extend .questionAnswerContainer;
                }
                .button-container{
                    @extend .questionContainer;
                    text-align: center;
                    button{
                        @include styleButton($primary-red, $primary-beige, 30px, 350px, 5px);
                        border-color: $primary-red;
                        cursor: pointer;
                        font-size: medium;
                        font-family: 'semi bold';
                    }
                    h4, a{
                        color: white;
                    }
                    
                }
                
                
            }
            
            
        }
    }
}


