@import '../../Styles/variables.scss';

.dashboard-main {
    background-color: black;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    box-shadow: 0px 2px 8px rgba(237, 10, 10, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    color:white;
    &:hover {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    }
    
    .divider {
        border: 4px solid $primary-red;
        opacity: 0.2;
    }
}

.dashboard-section-main {
    padding: 16px 8px 48px 8px;

    .title-container {
        padding: 8px 0px 24px 0px;
        background: black;
        transition: background-color 0.2s ease-in-out; /* add transition effect */
        animation: fadeIn 0.3s ease-in-out forwards; /* add fade in animation */
        color: white;
    }

    .selector-container {
        padding: 16px 16px;
        background-color: black;
        border-radius: 8px;
        box-shadow: 0px 2px 8px rgba(230, 6, 6, 0.1);
        //transition: background-color 0.2s ease-in-out; /* add transition effect */
        animation: slideIn 0.3s ease-in-out forwards; /* add slide in animation */
    }
    
}

.activity-slider-main {
    .scroll-option {
        align-items: center;
        justify-content: center;
        position: relative;
        .scroll-option-icon{
            cursor: pointer;
            transition: transform 0.2s ease-in-out; /* add transition effect */
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            width: 20px;
            height: 2px;
            background-color: black;
            transition: width 0.2s ease-in-out; /* add transition effect */
            animation: growLine 0.3s ease-in-out forwards; /* add grow line animation */
        }
        
        &:hover {
            .scroll-option-icon{
                transform: scale(1.2); /* add hover effect */
            }
            &::before {
                width: 30px; /* add hover effect */
            }
        }
    }
}

.scroll-div{
    overflow-x: auto;
    width: 100%;
    padding: 16px 0px;
    background-color:black;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out forwards; /* add fade in animation */
}

/* animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 1;
    }}